.email-input{
      // width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    input {
      border: none;
      width: auto;
      width: 100px;
      padding: 11px 10px;
      border-radius: 5px;
      position: relative;
      background: #fff;
      border: 1px solid #d9d9d9;
      margin-right: 5px;
      width: 200px;
      }
}