.StepTitle {
  display: flex;
  align-items: flex-start;
  .StepTitle__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0;
      font-size: 1em;
      font-style: normal;
      display: flex;
      flex-direction: column;
      font-weight: 700;
      color: #b0adad;
    }
    svg {
      margin: 0;
      font-size: 1.5em;
      font-style: normal;
      display: flex;
      flex-direction: column;
      font-weight: 700;
      color: #b0adad;
      margin-right: 10px;
    }
  }
  h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #4f5052;
    letter-spacing: 1px;
  }
}
